/xgboost_layer_0.feather
/xgboost_layer_1.feather
/lgbm_layer_0.feather
/catboost_layer_0.feather
/lgbm_layer_1.feather
/catboost_layer_1.feather
/layer_0.feather
/layer_1.feather
/layer_0_model_xgboost.feather
/layer_0_model_catboost.feather
/layer_0_model_lgbm_simple.feather
/layer_0_concatenated.feather
/layer_1_concatenated.feather
